/* CUSTOM PROPERTIES
-------------------------- */

:root {
  --color-purple: #674baf;
  --color-magenta: #e882e8;
  --color-white: #ffffff;
}

/* GLOBAL STYLES 
----------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 50%;
  color: var(--color-white);
  background-image: url(/images/bg-mobile.svg);
  background-color: var(--color-purple);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.page-logo {
  width: 30%;
  padding-top: 20px;
  padding-bottom: 40px;
  float: left;
  padding-left: 15px;
}

.main-image {
  width: 90%;
}

.main-head {
  padding: 0 5px;
}

.main-paragraph {
  margin-bottom: 50px;
}

.btn {
  text-decoration: none;
  color: var(--color-magenta);
  background-color: var(--color-white);
  padding: 10px 35px;
  border-radius: 30px;
}

.socials {
  display: flex;
  width: 5%;
  margin-top: 30px;
  padding-bottom: 30px;
}
